# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R Studio
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. math
2. ploty
3. ggplot

|Data Science Tools|
|---|
|Python|
|Jupyter Notebook|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

# **Objectives:**

 List popular languages for Data Science
* Python
* R Studio
* SQL

## Author
Daniel